.vagrant
.DS_Store
node_modules/
.capistrano
wp-content/uploads/
wp-content/ai1wm-backups
wp-content/plugins/all-in-one-wp-migration/storage/error.log
error.log
npm-debug.log
local-config.php


*.log
*.map

*.gz
