.btn {
  text-transform: uppercase;
  color: $primaryColor;
  border: 3px solid $primaryColor;
  display: inline-block;
  padding: 12px 14px;
  font-family: $tertiaryFont;
  font-weight: bold;
  font-size: 24px;
  transition: background-color, color, 0.4s ease-in-out;
  -webkit-appearance: none;
  -moz-apperance: none;

  &.btn-light {
    color: #fff;
    border-color: #fff;
  }
  &:hover {
    background-color: #fff;
    color: #ffc20d;
  }
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $tertiaryFont;
  font-size: 1.2em;
}
