.btn {
  text-transform: uppercase;
  color: $primaryColor;
  border: 3px solid $primaryColor;
  padding: 12px 14px;
  font-family: $tertiaryFont;
  font-weight: bold;
  font-size: 24px;
  transition: background-color, color, 0.4s ease-in-out;
  &.btn-light {
    color: #fff;
    border-color: #fff;
  }
  &:hover {
    background-color: #fff;
    color: #ffc20d;
  }
}
