.component-block {
  position: relative;
  height: 325px;
  width: span(12);
  &.component-block--light {
    background-color: #fff;
    color: #000;
  }
  &.component-block--dark {
    background-color: #000;
    color: #fff;
  }
  &.component-block--primary {
    background-color: $primaryColor;
  }
}
.component-split {
  display: flex;
  .component-block {
    @include breakpoint((min-width: 48em)) {
      width: span(6 of 12);
    }
  }
}

.component-one-third {
  display: flex;
  .component-block {
    width: span(3 of 12);
    color: $primaryColor;
    &:last-child {
      width: span(9 of 12);
      p {
        color: #fff;
      }
    }
  }
}


.component--service {
  background: url('../../../img/people-coffee-tea-meeting.jpg');
  background-size: cover !important;
  .overlay {
    background-image: linear-gradient(
      rgba(255, 194, 13, 0.45),
      rgba(255, 150, 13, 0.85)
    ) !important;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  a {
    @include center-center-element();
  }
}

.contact-section {
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
  .component-block--primary {
    flex-direction: column;
    align-items: center;
  }

}
