.component-block {
  position: relative;
  height: 425px;
  width: span(12);
  &.component-block--light {
    background-color: #fff;
    color: #000;
  }
  &.component-block--dark {
    background-color: #000;
    color: #fff;
  }
  &.component-block--primary {
    background-color: $primaryColor;
  }
}

.component-split, .component-one-third {
  display: flex;
  flex-wrap: wrap;
  @include mappy-bp(small) {
    display: flex;
    flex-wrap: nowrap;
  }
}
.component-split {
  @include mappy-bp(small) {
    .component-block {
      width: span(6 of 12);
    }
  }
}

.component-one-third {
  flex-flow: column-reverse;
  .component-block {
    color: $primaryColor;
    &:last-child p {
      color: #fff;
    }
  }

  @include mappy-bp(small) {
    flex-flow: initial;
    .component-block {
      width: span(3 of 12);
      &:last-child {
        width: span(9 of 12);
      }
    }
  }
}


.component--service {
  // background: url('../../../img/people-coffee-tea-meeting.jpg');
  background-size: cover !important;
  .overlay {
    background-image: linear-gradient(
      rgba(255, 194, 13, 0.45),
      rgba(255, 150, 13, 0.85)
    ) !important;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  a {
    @include center-center-element();
  }
}

.strategy-section .component-block--dark {
  .content-center {
    width: 80%;
  }
}

.contact-section {
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
  .component-block--primary {
    flex-direction: column;
    align-items: center;
    .content-center {
      width: 80%;
    }
  }
}
