@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed|Oswald');
@import "susy/susy";
@import "breakpoints";
@import "reset";

$primaryFont: 'Lato';
$secondaryFont: 'Roboto';
$tertiaryFont: 'Oswald';
$primaryColor: #ffc20d;

// Susy Mobile
$total-columns: 7;
$column-width: 4.25em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$breakpoints: (
  'small': 768px,
  'medium': 769px,
  'large': 1008px,
  'wide': 1200px,
  'mega': 1392px
);

$susy: (
  columns: 12, // The number of columns in grid
  gutter-position: inside,
  global-box-sizing: content-box,
  math: fluid, // internal grid values will be calculated as multiples of the column-width
  output: float,
  flow: ltr, // reading direction of document, layouts will flow from left to right
  last-flow: right
);

$susy-fluid: (
  columns: 24,
  gutter-position: inside,
  global-box-sizing: content-box,
  math: fluid,
  output: float,
  float: ltr,
  last-flow: right
);

body {
  background-color: #fff;
  font-family: $primaryFont;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

a {
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
}

p {
  line-height: 28px;
  font-size: 1.2em;
  font-family: $primaryFont;
  font-weight: normal;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.uppercase {
  text-transform: uppercase;
}

.content-center {
  @include center-center-element();
}

h1 {
  font-size: (44/16) * 1em;
  font-family: $tertiaryFont;
}
h2 {
  font-size: (36/16) * 1em;
  font-family: $tertiaryFont;
}
