header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

html,
body,{
	// overflow: hidden;
	width: 100%;
	height: 100%;
}

.brand-container {
  background-color: #ffc20d;
  padding: 20px;
  width: span(6);
  .brand {
    a {
      color: #000;
      text-transform: uppercase;
      font-weight: 600;
      font-family: $tertiaryFont;
      font-size: (24/16) * 1em;
    }
  }
}

.menu-toggle {
  padding: 20px;
  width: span(6);
  text-transform: uppercase;
  a {
    color: #000;
    float: right;
    font-weight: 600;
    position: absolute;
    right: 1em;
    top: 0.5em;
  }
}

.comb {
  width: 55px;
  margin-right: 10px;
  position: relative;
  top: 10px;
}


// Menu
nav {
  padding-top: 3em;
}

#primary-menu ul {
  -webkit-transition: -webkit-transform 0s 0.4s;
transition: transform 0s 0.4s;
-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
#primary-menu ul li {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 2em;
  a {
    text-transform: uppercase;
    font-family: $tertiaryFont;
    font-weight: 200;
    font-size: 2em;
    color: #fff;
    transition: color 0.4s;
    -webkit-transition: -webkit-transform 0s 0.4s;
  	transition: transform 0s 0.4s;
  	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    &:nth-child(2) {
      -webkit-transform: translate3d(0,1000px,0);
    	transform: translate3d(0,1000px,0);
    }
    &:nth-child(3) {
      -webkit-transform: translate3d(0,1500px,0);
    	transform: translate3d(0,1500px,0);
    }
    &:nth-child(4) {
      -webkit-transform: translate3d(0,2000px,0);
    	transform: translate3d(0,2000px,0);
    }
    &:hover {
      color: #000;
    }
  }
}


.content-wrap {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.menu-wrap {
	position: absolute;
  right: 0;
	z-index: 1001;
	width: 265px;
	height: 100%;
	background: $primaryColor;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(320px,0,0);
	transform: translate3d(320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menuOpen .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.content {
	position: relative;
}

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 2em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #000;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
